@page "/prueba"
@attribute [StreamRendering(true)]
@rendermode @(new InteractiveServerRenderMode(prerender: false))
@attribute [Authorize]

@using Microsoft.AspNetCore.Authorization
@using Radzen
@using Radzen.Blazor
@using TEST.Controllers.Reservas
@using TEST.Modelos.DTOs

@inject NavigationManager NavigationManager
@inject IJSRuntime jsRuntime

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<h3>Prueba</h3>

@code {

}
